.DS_Store
.editorconfig
.htaccess
.htaccess.sample
.idea/
.php-cs-fixer.dist.php
.user.ini
CHANGELOG.md
COPYING.txt
Gruntfile.js
Gruntfile.js.sample
LICENSE.txt
LICENSE_AFL.txt
SECURITY.md
app/etcg
app/design/frontend/Magento
auth.json.sample
bin/
composer.json
composer.lock
dev/
generated/
grunt-config.json.sample
lib/
n98-magerun2-latest.phar
n98-magerun2.phar
nginx.conf.sample
node_modules/
package-lock.json
package.json
package.json.sample
phpserver/
pub/
setup/
var/
vendor/
!dev/tools/grunt/configs/local-themes.js
app/etc/
app/autoload.php
app/bootstrap.php